.RandomPlanet {
    display: flex;
    justify-content: flex-start;
    height: 350px;
    border-radius: 8px;
}

.planet-image {
    width: 100%;
}

.image-around {
    width: 250px;
    height: 250px;
    margin-right: 15px;
}